.text {
    margin: auto;
    max-width:650px;
    line-height:1.6em;
    font-family: 'Roboto', sans-serif;
    font-size:14pt;
    color: #444;
    padding: 2em;

    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
}
h1,h2,h3 {
    line-height: 0.9;
    /*border-left: 5px solid;
      padding-left: 15px;*/
    margin-top: 40px;
    margin-bottom: 40px;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px; 
    padding-bottom: 40px; 
    height: 40vh;
    -webkit-filter: drop-shadow( 5px 5px 5px #555 );
    filter: drop-shadow( 5px 5px 5px #555 ); 
}
.sm-ln {
    float: right;
    font-size: 9pt;
    display: block;
    clear: both;
}
a{
    /*text-decoration: none;*/
}
td {
    padding-right: 20px;
}
abbr {
    border-bottom: 1px black dotted;
/*      text-decoration: underline;
      -webkit-text-decoration-style: dotted;
      text-decoration-style: dotted;*/
}

.pull-right {
    float: right;
}

#top {
    background-color: #483a3a;
}

#banner { 
    min-height: 60vh; 

    background-image: url("images/banner1.jpg");
    background-repeat: no-repeat;
}

#arrangement { 
    min-height: 60vh; 

    background-color: #c64c43;
    background-repeat: no-repeat;
}

#whenopen { 
    min-height: 60vh; 

    background-color: #806136;
    background-repeat: no-repeat;
}

#becomemember { 
    min-height: 60vh; 

    background-color: #eae1c0;
    background-repeat: no-repeat;
}
#questions { 
    min-height: 60vh; 

    background-color: #f5eedb;
    background-repeat: no-repeat;
}

* { margin:0; padding:0; }



#cssmenu {
  background: #f96e5b;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 25px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 29px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

