.text {
    margin: auto;
    max-width:650px;
    line-height:1.6em;
    font-family: 'Roboto', sans-serif;
    font-size:14pt;
    color: #444;
    padding: 2em;

    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
}
h1,h2,h3 {
    line-height: 0.9;
    /*border-left: 5px solid;
      padding-left: 15px;*/
    margin-top: 40px;
    margin-bottom: 40px;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px; 
    padding-bottom: 40px; 
    height: 40vh;
    -webkit-filter: drop-shadow( 5px 5px 5px #555 );
    filter: drop-shadow( 5px 5px 5px #555 ); 
}
.sm-ln {
    float: right;
    font-size: 9pt;
    display: block;
    clear: both;
}
a{
    /*text-decoration: none;*/
}
td {
    padding-right: 20px;
}
abbr {
    border-bottom: 1px black dotted;
/*      text-decoration: underline;
      -webkit-text-decoration-style: dotted;
      text-decoration-style: dotted;*/
}

#banner { 
    min-height: 90vh; 

    background-image: url("images/banner1.jpg");
    background-repeat: no-repeat;
}

#arrangement { 
    min-height: 90vh; 

    background-color: #c64c43;
    background-repeat: no-repeat;
}

#whenopen { 
    min-height: 90vh; 

    background-color: #806136;
    background-repeat: no-repeat;
}

#becomemember { 
    min-height: 90vh; 

    background-color: #eae1c0;
    background-repeat: no-repeat;
}
#questions { 
    min-height: 90vh; 

    background-color: #f5eedb;
    background-repeat: no-repeat;
}

* { margin:0; padding:0; }
