[Unit]
Description=Download meetup.com event data to use on hackeriet.no website
After=network.target

[Service]
User=nobody
Group=nogroup
Type=oneshot
ExecStart=/usr/bin/curl --disable --silent -o /var/www/hackeriet.no/meetup.json 'https://api.meetup.com/hackeriet/events?scroll=recent_past&page=20'

[Install]
WantedBy=default.target
